/* Grid (for building)*/

/* .col-lg-8 {
    background-color: rgb(128, 0, 255);
}
.col-lg-6 {
    background-color: red;
}
.col-lg-3 {
    background-color: pink;
}

.mt-5 {
    background-color: tan;
} */

/* Fonts */

@font-face {
    font-family: Apercu;
    src: url("Font/Apercu/Apercu_Regular.otf");
}

@font-face {
    font-family: Apercu;
    src: url("Font/Apercu/Apercu_Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Syncopate;
    src: url("Font/Syncopate/Syncopate-Regular.ttf");
}

/* Font Styles */

p {
    font-family: Apercu;
    font-size: 18px;
    margin-bottom: 3px;
}

h1 {
    font-family: Syncopate;
    font-size: 36px;
    text-transform: uppercase;
}

h2 {
    font-family: Apercu;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-family: Syncopate;
    font-size: 16px;
    text-transform: uppercase;
}

h4 {
    font-family: Apercu;
    font-size: 16px;
}

li {
    font-family: Apercu;
}


a:visited {
    color: black;
}

.portfolio-pages a:hover {
    text-decoration: none;
}

.page-link a:visited {
    color: black;
}

.page-link a:hover {
    color: black;
}


/* Nav */

.nav-link {
    font-family: Syncopate;
    text-transform: uppercase;
}

.nav-link-2 {
    font-family: Apercu;
    font-weight: bold;
    color: black;
}

.nav-link-2:hover {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

/* Images */

body {
    background: linear-gradient(161.38deg, #ECFF9F 7.73%, #A8FFE5 38.63%, #FFFFFF 68.91%);
}


.full-width-image {
    width: 100%;
}

a .hover-index-image span {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 9999;
}

a .hover-index-image span img {
    width: 50vw;
}

a:hover .hover-index-image span {
    position: fixed;
    top: 33vh;
    left: 50vw;
    z-index: -10000;
}

a:hover .hover-index-image {
    color: orange;
}

/* Spacer */

.spacer {
    height: 150px;
}

.spacer-2 {
    height: 50px;
}

/* Scroll Indicator */

.progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
    position: fixed;
    top: 0;
    z-index: 1;
}

.progress-bar {
    height: 4px;
    background: orange;
    width: 0%;
}

/* Back to Top */

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

html {
    scroll-behavior: smooth;
}


/* Typed JS */
/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	/* -webkit-animation: blink 0.7s infinite; */
	/* -moz-animation: blink 0.7s infinite; */
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* @-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
} */
